<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <welcome-file-list>
        <welcome-file>login</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>DashBoardControl</servlet-name>
        <servlet-class>control.DashBoardControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeControl</servlet-name>
        <servlet-class>control.HomeControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerProductsControl</servlet-name>
        <servlet-class>control.ManagerProductsControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertProductControl</servlet-name>
        <servlet-class>control.InsertProductControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopSingleControl</servlet-name>
        <servlet-class>control.ShopSingleControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductControl</servlet-name>
        <servlet-class>control.UpdateProductControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HideProductControl</servlet-name>
        <servlet-class>control.HideProductControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProdcutControl</servlet-name>
        <servlet-class>control.ShowProdcutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployeeControl</servlet-name>
        <servlet-class>control.AddEmployeeControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailTransactionCustomerControl</servlet-name>
        <servlet-class>control.DetailTransactionCustomerControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEmployeeControl</servlet-name>
        <servlet-class>control.EditEmployeeControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerCustomerControl</servlet-name>
        <servlet-class>control.ManagerCustomerControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterWorkShift</servlet-name>
        <servlet-class>control.RegisterWorkShift</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSalariesControl</servlet-name>
        <servlet-class>control.UpdateSalariesControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateWorkScheduleTodayControl</servlet-name>
        <servlet-class>control.UpdateWorkScheduleTodayControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WorkScheduleControl</servlet-name>
        <servlet-class>control.WorkScheduleControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceControl</servlet-name>
        <servlet-class>control.AttendanceControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyControl</servlet-name>
        <servlet-class>control.BuyControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelCartControl</servlet-name>
        <servlet-class>control.CancelCartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutControl</servlet-name>
        <servlet-class>control.CheckoutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompletePaymentControl</servlet-name>
        <servlet-class>control.CompletePaymentControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerInfoComtrol</servlet-name>
        <servlet-class>control.CustomerInfoComtrol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteWorkShiftControl</servlet-name>
        <servlet-class>control.DeleteWorkShiftControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiscountControl</servlet-name>
        <servlet-class>control.DiscountControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentInCashControl</servlet-name>
        <servlet-class>control.PaymentInCashControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessControl</servlet-name>
        <servlet-class>control.ProcessControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalariesControl</servlet-name>
        <servlet-class>control.SalariesControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TableDetailControl</servlet-name>
        <servlet-class>control.TableDetailControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAttendance</servlet-name>
        <servlet-class>control.UpdateAttendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusControl</servlet-name>
        <servlet-class>control.UpdateStatusControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRUDCartItem</servlet-name>
        <servlet-class>control.CRUDCartItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDiscountControl</servlet-name>
        <servlet-class>control.DeleteDiscountControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTableControl</servlet-name>
        <servlet-class>control.DeleteTableControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDiscountControl</servlet-name>
        <servlet-class>control.EditDiscountControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HideDiscountControl</servlet-name>
        <servlet-class>control.HideDiscountControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HideTableControl</servlet-name>
        <servlet-class>control.HideTableControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertDiscountControl</servlet-name>
        <servlet-class>control.InsertDiscountControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertTableControl</servlet-name>
        <servlet-class>control.InsertTableControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerDiscountControl</servlet-name>
        <servlet-class>control.ManagerDiscountControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerTableControl</servlet-name>
        <servlet-class>control.ManagerTableControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDiscountControl</servlet-name>
        <servlet-class>control.ShowDiscountControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowTableControl</servlet-name>
        <servlet-class>control.ShowTableControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServedStatusControl</servlet-name>
        <servlet-class>control.UpdateServedStatusControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashBoardControl</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeControl</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerProductsControl</servlet-name>
        <url-pattern>/managerproducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertProductControl</servlet-name>
        <url-pattern>/insertproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopSingleControl</servlet-name>
        <url-pattern>/shopsingle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductControl</servlet-name>
        <url-pattern>/updateproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HideProductControl</servlet-name>
        <url-pattern>/hideproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowProdcutControl</servlet-name>
        <url-pattern>/showproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployeeControl</servlet-name>
        <url-pattern>/addemployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailTransactionCustomerControl</servlet-name>
        <url-pattern>/detailTransactionCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEmployeeControl</servlet-name>
        <url-pattern>/editEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerCustomerControl</servlet-name>
        <url-pattern>/managerCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterWorkShift</servlet-name>
        <url-pattern>/registerWorkShift</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSalariesControl</servlet-name>
        <url-pattern>/updatesalaries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateWorkScheduleTodayControl</servlet-name>
        <url-pattern>/updateWorkScheduleToday</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorkScheduleControl</servlet-name>
        <url-pattern>/workScheduleControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceControl</servlet-name>
        <url-pattern>/attendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyControl</servlet-name>
        <url-pattern>/buy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelCartControl</servlet-name>
        <url-pattern>/cancelCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutControl</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompletePaymentControl</servlet-name>
        <url-pattern>/completePaymentControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerInfoComtrol</servlet-name>
        <url-pattern>/customerInfoComtrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteWorkShiftControl</servlet-name>
        <url-pattern>/deleteWorkShiftControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiscountControl</servlet-name>
        <url-pattern>/discount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentInCashControl</servlet-name>
        <url-pattern>/paymentInCashControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessControl</servlet-name>
        <url-pattern>/process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalariesControl</servlet-name>
        <url-pattern>/salaries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TableDetailControl</servlet-name>
        <url-pattern>/tableDetailControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAttendance</servlet-name>
        <url-pattern>/updateAttendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusControl</servlet-name>
        <url-pattern>/updateStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRUDCartItem</servlet-name>
        <url-pattern>/CRUDCartItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDiscountControl</servlet-name>
        <url-pattern>/deletediscount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTableControl</servlet-name>
        <url-pattern>/deletetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDiscountControl</servlet-name>
        <url-pattern>/editdiscount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HideDiscountControl</servlet-name>
        <url-pattern>/hidediscount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HideTableControl</servlet-name>
        <url-pattern>/hidetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertDiscountControl</servlet-name>
        <url-pattern>/insertdiscount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertTableControl</servlet-name>
        <url-pattern>/inserttable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerDiscountControl</servlet-name>
        <url-pattern>/managerdiscount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerTableControl</servlet-name>
        <url-pattern>/managertable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDiscountControl</servlet-name>
        <url-pattern>/showDiscount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowTableControl</servlet-name>
        <url-pattern>/showTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServedStatusControl</servlet-name>
        <url-pattern>/updateServedStatus</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            120
        </session-timeout>
    </session-config>
</web-app>
